<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<!--  suite name="oneMap" parallel="classes" thread-count="2"-->
<suite name="oneMap">
	<listeners>
		<listener class-name="com.oneMap.utilities.Reporting"/>
	</listeners>
	
	<test name="OneMap Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.oneMap.testCases.SC_001_Search" />	
			<class name="com.oneMap.testCases.SC_002_JourneyPlanner" />
			<!-- 
			<class name="com.oneMap.testCases.SC_001_Search" />	
			<class name="com.oneMap.testCases.SC_002_JourneyPlanner" />
			 -->
		</classes>
	</test>
</suite>